a,
a:visited,
a:active {
  text-decoration: none; }

a:focus,
a:hover {
  text-decoration: underline; }

* {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease; }

body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #FFF; }

header {
  display: none; }

form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto 1em auto;
  padding: 0;
  text-align: center;
  width: 90%;
  max-width: 1140px;
  background-color: #eeeeee;
  border-top: none;
  border-left: 1px solid #999999;
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999999;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 0 5px #eeeeee;
  -moz-box-shadow: 0 0 5px #eeeeee;
  box-shadow: 0 0 5px #eeeeee; }
  form fieldset {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1%; }
    form fieldset input,
    form fieldset button,
    form fieldset select {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      float: left;
      padding: 0.5em;
      margin-right: 1em;
      background-color: #FFF;
      border: 1px solid #999999;
      -webkit-box-shadow: 0 0 2px #999999, -2px -2px 5px #eeeeee inset, 2px 2px 5px #eeeeee inset;
      -moz-box-shadow: 0 0 2px #999999, -2px -2px 5px #eeeeee inset, 2px 2px 5px #eeeeee inset;
      box-shadow: 0 0 2px #999999, -2px -2px 5px #eeeeee inset, 2px 2px 5px #eeeeee inset; }
    form fieldset input:focus,
    form fieldset input:hover,
    form fieldset button:focus,
    form fieldset button:hover,
    form fieldset select:focus,
    form fieldset select:hover {
      -webkit-box-shadow: 0 0 2px #666666, -2px -2px 7px #cccccc inset, 2px 2px 7px #cccccc inset;
      -moz-box-shadow: 0 0 2px #666666, -2px -2px 7px #cccccc inset, 2px 2px 7px #cccccc inset;
      box-shadow: 0 0 2px #666666, -2px -2px 7px #cccccc inset, 2px 2px 7px #cccccc inset; }
    form fieldset input:active,
    form fieldset button:active,
    form fieldset select:active {
      -webkit-box-shadow: 0 0 2px #666666, -2px -2px 15px #cccccc inset, 2px 2px 15px #cccccc inset;
      -moz-box-shadow: 0 0 2px #666666, -2px -2px 15px #cccccc inset, 2px 2px 15px #cccccc inset;
      box-shadow: 0 0 2px #666666, -2px -2px 15px #cccccc inset, 2px 2px 15px #cccccc inset; }
    form fieldset input {
      width: 60%; }
    form fieldset select {
      width: 10%;
      text-align: center; }
      form fieldset select option {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        text-align: left;
        font-size: 1em;
        line-height: 1em; }
    form fieldset button {
      float: right;
      width: 10%;
      margin-right: 0; }

#results {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  background-color: #eeeeee;
  border: 1px solid #999999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  #results #info {
    z-index: 1;
    display: block;
    margin-bottom: 1em;
    padding: 0;
    text-align: center; }
    #results #info h3 {
      font-size: 1em;
      margin: 0;
      padding: 0; }
  #results .result {
    margin: 0.5em;
    padding: 0.5em;
    background-color: white;
    border: 1px solid #999999; }
  #results h3 {
    margin: 0;
    padding-bottom: 0.5em; }
    #results h3 sup {
      font-size: 0.5em; }
  #results p {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  #results p.description {
    font-weight: bold; }

footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5em 0;
  text-align: center;
  background-color: white;
  border-top: 1px solid #eeeeee;
  -webkit-box-shadow: 0 0 2px #eeeeee;
  -moz-box-shadow: 0 0 2px #eeeeee;
  box-shadow: 0 0 2px #eeeeee; }
  footer p {
    margin: 0;
    padding: 0; }

/* Mobile */
@media handheld, only screen and (max-width: 767px) {
  body {
    overflow-x: hidden !important;
    overflow-y: hidden !important; }

  form {
    text-align: center !important; }
    form button,
    form select,
    form input {
      -webkit-box-sizing: border-box !important;
      -moz-box-sizing: border-box !important;
      -ms-box-sizing: border-box !important;
      box-sizing: border-box !important;
      display: inline-block !important;
      float: none !important;
      width: 90% !important;
      margin: 0.5em 0 !important; }
    form input {
      text-align: left !important; } }
